

.body{
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  font-family: 'Hachi Maru Pop', cursive;
  padding-top: 56px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header{
  font-size: 125px;
  font-weight: bold;
  text-align: center;
  color:teal;
  background-color:lightcoral;
  font-family: 'Hachi Maru Pop', cursive;
}

.subheader{
  font-size: 75px;
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  background-color: teal;
  color:lightcoral;
  text-align: center;
}


#carouselExampleIndicators img {
  width: 100%; 
  height: calc(75vh - 56px);
  object-fit:fill;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
}



.navbar {
  background-color: lightcoral;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: teal;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Hachi Maru Pop', cursive;
  border-style: solid;
}

.navbar a:hover {
  background-color: teal;
  color: lightcoral;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: teal;
  color:lightcoral;
}

.about {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  background-color: teal;
  color:lightcoral;
  text-align: center;
}

.body {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  background-color: teal;
  color:lightcoral;
  text-align: center;
}

.footer{
  font-size: 125px;
  font-weight: bold;
  text-align: center;
  color:teal;
  background-color:lightcoral;
  text-decoration: none;
}

.footertitle{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
  color:teal;
  background-color:lightcoral;
  text-decoration: none;
}

.fa-facebook {
color:teal;
text-decoration: none;
}

.fa-twitter {
color:teal;
text-decoration: none;
}

.fa-instagram {
  color:teal;
  text-decoration: none;
  }

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: white;
}

.booking {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  background-color: teal;
  color:lightcoral;
  text-align: center;
}

.box1{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightcoral;
  width:90.7vw;
  object-fit: fill;
  height:fit-content;
  padding:20px 40px 20px 40px;
  border: 15px solid teal;
  

}

  
.box2{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightcoral;
  width:90.7vw;
  object-fit: fill;
  height:fit-content;
  padding:20px 40px 20px 40px;
  border: 15px solid teal;
  

}

